/*------------------------------------------------------------------
 [Master Stylesheet]

  Project:	Star Admin Bootstrap Template [Free Version]
  Version:	2.0.0
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Background Mixins
    + BlockQuote Mixins
    + Badges Mixins
    + Buttons Mixins
    + Cards Mixins
    + Miscellaneous Mixins
    + Text Mixins
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Sidebar
    + Navbar
    + Typography
    + Miscellaneous
    + Footer
    + Layouts
    + Utilities
    + Demo styles
    + Dashboard
  * Components
    + Badges
    + Bootstrap Progress
    + Buttons
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Icons
    + Lists
    + Nav
    + New Account
    + Preview
    + Tables
  * Landing screens
    + Auth
    + Error
  * Shed css

-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/

/* === Import Bootstrap functions and variables === */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
/*-------------------------------------------------------------------*/

/* === Import template variables === */

@import "variables";
/*-------------------------------------------------------------------*/

/* === SCSS Compass Functions === */

@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
/*-------------------------------------------------------------------*/

/* === Boostrap Main SCSS === */

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
/*-------------------------------------------------------------------*/

/* === Template mixins === */

@import "mixins/animation";
@import "mixins/background";
@import "mixins/blockqoute";
@import "mixins/badges";
@import "mixins/buttons";
@import "mixins/cards";
@import "mixins/misc";
@import "mixins/text";
/*-------------------------------------------------------------------*/

/* === Core Styles === */

@import "reset";
@import "fonts";
@import "functions";
@import "sidebar";
@import "navbar";
@import "typography";
@import "misc";
@import "footer";
@import "utilities";
@import "demo";
@import "dashboard";
/*-------------------------------------------------------------------*/

/* === Components === */

@import "components/badges";
@import "components/bootstrap-progress";
@import "components/buttons";
@import "components/cards";
@import "components/checkbox-radio";
@import "components/dropdown";
@import "components/forms";
@import "components/icons";
@import "components/lists";
@import "components/nav";
@import "components/new-account";
@import "components/preview";
@import "components/tables";
/*-------------------------------------------------------------------*/
/* === Landing screens === */

@import "landing-screens/auth";
@import "landing-screens/error";

.dropdown-item{
  padding: .9rem 1.15rem;
}
.table-navigation{
  
}
.dropdown-menu{
  padding: 0;
}

table>tbody .form-check .form-check-label input:checked + .input-helper:after{
}

.tableFixHead    {
  overflow-y: auto;
  height: 100px;
  th {
    position: sticky;
    top: 0;
    font-weight: 600;
    z-index: 50;
    background:#fbfefe;
    border-bottom: 1px solid #f1f1f1;
  }
}

.modal-header {
  .close {
    // auto on the left force icon to the right even when there is no .modal-title
    padding: 0;
    margin: 0;
  }
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
  top: 18px;
}

.bootstrap-select {
  & .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:active{
      background-color: $gray-100;
      color: inherit;
    }
    & span{
      &.text {
        order:1;
        margin-right: 0;
      }
      &.check-mark{
        order: 2;
        position: static !important;
        &:after{
          border-width: 0 2px 2px 0;
        }
      }
    }
  }
}
.checkbox {
  & input[type="checkbox"] {
    display: none;
    opacity: 0;

    /*Hide the checkmark by default*/
    & + label::after {
      content: none;
    }

    /*Unhide on the checked state*/
    &:checked + label::after {
      content: "";
    }
    &:checked + label::before {
      content: "";
      border-color: #1db368;
      background: #00ce68;
    }
    &:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
    }
  }
  & label {
    position: relative;
    display: inline-block;
    top: -5px;
    padding-left: 22px;
    &:before, &:after{
      position: absolute;
      content: "";
      display: inline-block;
    }
    &:before{
      height: 18px;
      width: 18px;
      border: 2px solid $gray-200;
      border-radius: 2px;
      left: 2px;
      top: 3px;
      transition: all .2s;
    }
    &:after {
      height: 5px;
      width: 11px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      border-color: white;
      transform: rotate(-45deg);
      left: 5px;
      top: 7.8px;
    }
  }
}



